<template>
  <div class="container mt-5 mb-5">
    <h1>Star Wars Test (GraphQL + Nuxt + TS)</h1>
    <form
      class="mt-3 mb-5"
      @submit.prevent="getData"
    >
      <div class="form-group">
        <label for="characterNameInput">
          Character Name:
        </label>
        <vue-bootstrap-typeahead
          id="characterNameInput"
          v-model="name"
          :data="autocompleteList"
          :serializer="s => s.name"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>

    <div
      v-if="isLoading"
      class="spinner-border"
    >
      <span class="sr-only">Loading...</span>
    </div>

    <ul
      v-if="list.length > 0 && !isLoading"
      class="list-group"
    >
      <li
        v-for="(character, index) in list"
        :key="index"
        class="list-group-item"
      >
        <h3>{{ character.name }}</h3>
        <table class="table table-sm table-borderless w-50">
          <tbody>
            <tr>
              <th
                scope="row"
                class="w-50"
              >
                Birth Year:
              </th>
              <td>{{ character.birth_year }}</td>
            </tr>
            <tr>
              <th scope="row">Eye Color:</th>
              <td>{{ character.eye_color }}</td>
            </tr>
            <tr>
              <th scope="row">Height:</th>
              <td>{{ character.height }}</td>
            </tr>
            <tr>
              <th scope="row">Weight:</th>
              <td>{{ character.weight }}</td>
            </tr>
            <tr>
              <th scope="row">Homeworld:</th>
              <td>{{ character.homeworld }}</td>
            </tr>
            <tr>
              <th scope="row">Species:</th>
              <td>{{ character.species.join(', ') }}</td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { State, Action } from 'vuex-class'
import { RootState } from '@/store/types'

@Component({})
export default class index extends Vue {
  @State('isLoading') isLoading: RootState;
  @State('list') list: RootState;
  @State('autocompleteList') autocompleteList: RootState;
  @Action('getPeoples') getPeoples: any;
  @Action('getAutocompleteItems') getAutocompleteItems: any;

  name: string = '';

  @Watch('name')
  nameHandler () {
    const { name } = this
    if (name.length > 1) {
      this.getAutocompleteItems(name)
    }
  }

  getData () {
    this.getPeoples(this.name)
  }
}
</script>

<style lang="sass" scoped>
</style>
